@import "tailwindcss";
 @config "./tailwind.config.js";
.section-container {
    @apply  md:px-12 max-w-[1440px] mx-auto w-full scroll-mt-24;
}
@theme {
  --breakpoint-mobile: 30rem;
}
/* @layer base {
  * {
    outline: 1px solid red;
    margin:25px;
  }
} */
 